# Modified 2026-10-08 by Xiao Ni in https://github.com/xni7/gst.
# Original work copyright 2025 Sarepta Therapeutics Inc., Apache License 2.0.
.Rproj.user
.Rhistory
.RData
.Ruserdata
docs
.commit
cache
inst/doc
renv/
renv.lock
rsconnect/
.vscode/
